<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8">
<title>Créditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-ico"/>
  </head>
  <body>
    <h2> Creado por Verónica Nathaly Rivas Boscán</h1>
    <p> <img src="http://verynweb.neocities.org/foto_alumno.jpg"></p>
   </form>
  </body>    
</html>     